<div class="main-content">
    <div class="section-content sectio-content-p30">
        <div class="container-fluid">
            <!--<input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
            <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
            <div id="paypal-checkout-btn"></div>-->
            
            <!--Shipping address-->

           
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                         
                

           
        </div>
    </div>
</div>
