<div class="main-content page-m">
    <div class="section-content section-content-p30">
      <div class="container-fluid">

        <h2 style="text-align: center;">Admin</h2>
        <hr>  

        
     <div>
          <a routerLink="/sellers"class="btn btn-primary" routerLinkActive="active">SellerList</a>
      </div>
      <br>
      
      <div>
          <a routerLink="/add" class="btn btn-primary" routerLinkActive="active">Add Seller</a>
      </div>
      <br>
      <div>
        <a routerLink="/userlist" class="btn btn-primary" routerLinkActive="active">Users List</a>
    </div>
    <br>
    <div>
      <a routerLink="/adminproductlist" class="btn btn-primary" routerLinkActive="active">Product List</a>
  </div>
  <br>
  <div>
    <a routerLink="/orderlist" class="btn btn-primary" routerLinkActive="active">Order List</a>
</div>

      <br>
   
   
  
      </div>
    </div>
  </div>
  
 